<br><br>
<h2>Entfernt</h2>

<p>Das ausgewählte Produkt wurde erfolgreich aus dem Warenkorb entfernt.
   <br> Um ihren Warenkorb anzusehen klicken sie hier </p>

<a href="/auftrags/warenkorb" style="font-weight:bold; color:purple">Zum Warenkorb</a><br>
    
