<br><br>
<h2>Bestellung</h2>



<p>Die Bestellung wurde erfolgreich übermittelt.</p>
   <%#*<br> Um ihren Warenkorb anzusehen klicken sie hier </p>%>


<a href="/auftrags/warenkorb" style="font-weight:bold; color:purple">Zum Warenkorb</a><br>