<p id="notice"><%= notice %></p>

<p>
  <strong>Menge:</strong>
  <%= @unterprodukt.menge %>
</p>

<%= link_to 'Edit', edit_unterprodukt_path(@unterprodukt) %> |
<%= link_to 'Back', unterprodukts_path %>
