// Place all the styles related to the auftrags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#warenkorb {    
    width: 900px;
    padding: 0;
    margin: 0;
}

table#warenkorb th {
    background-color: rosybrown;
    text-align: left;   
    padding: 4px; 
}

table#kundendaten {    
    width: 900px;
    padding: 0;
    margin: 0;
}

table#kundendaten th {
    background-color: rosybrown;
    text-align: left;   
    padding: 4px; 
}

table#bestell_produktliste {    
    width: 900px;
    padding: 0;
    margin: 0;
}

table#bestell_produktliste th {
    background-color: rosybrown;
    text-align: left;   
    padding: 4px; 
}