// Place all the styles related to the Produkts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product-list {    
    width: 900px;
    padding: 0;
    margin: 0;
}

#product-list th {
    background-color: rosybrown;
    text-align: left;   
    padding: 4px; 
}

#product-list td {
    padding: 4px;
}

#product-list tr:nth-child(2n+1) {
    background-color: #f0f0f0;
}




table#produktliste {
    width: 900px;
    padding: 0;
    margin: 0;
}

table#produktliste th {
    background-color: rosybrown;
    text-align: left;   
    padding: 4px; 
}






table#istwerttabelle {    
    width: 900px;
    padding: 0;
    margin: 0;
}

table#istwerttabelle th {
    background-color: rosybrown;
    text-align: left;   
    padding: 4px; 
}

table#istwerttabelle td {
    padding: 4px;
}

table#istwerttabelle tr:nth-child(2n+1) {
    background-color: #f0f0f0;
}

    
    



table#planwerttabelle {    
    width: 900px;
    padding: 0;
    margin: 0;
}

table#planwerttabelle th {
    background-color: rosybrown;
    text-align: left;   
    padding: 4px; 
}

table#planwerttabelle td {
    padding: 4px;
}

table#planwerttabelle tr:nth-child(2n+1) {
    background-color: #f0f0f0;
}